@model IList<Beer>
@section DocumentCSS {
<style>
    .rating > label {
        font-size: 110%;
    }
    body, html {
        height: 100%;
        margin: 0;
        padding-bottom: 0;
    }
</style>
}
@{ 
    ViewData["Title"] = "Home";
}
<!-- Title and Search Bar -->
<div class="main-img">
    <div class="container body-content">
        <div class="row">
            <div class="col-md-6 centered">
                <div class="logo-box">
                    <div class="main-logo">
                        <h1>HopHub</h1>
                        <hr />
                        <h3>Your Craft Beer Journal</h3>
                    </div>
                    <form asp-controller="Home" asp-action="Search" method="get">
                        <div class="input-group">
                            <input type="search" class="form-control" name="beer" placeholder="Search beer or brewery...">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
     </div>
</div>
<!-- Highest Rated Beers -->
<div id="highest-rated">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Top Rated Beers</h1>
                <hr />
                    <div class="list-group">
                        @foreach (var beer in Model)
                        {
                            var percentageRating = beer.AvgRating / 5 * 100;
                            
                            <a href="/Beer?id=@beer.ReferenceID" class="list-group-item">
                                <div class="star-ratings pull-right">
                                    <div class="star-ratings-top" style="width: @percentageRating%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    <div class="star-ratings-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                </div>
                                @*<span class="badge">@String.Format("{0:0.#}", beer.AvgRating) ★</span>*@
                                <h4 class="list-group-item-heading"><b>@beer.Name</b></h4>
                                <p class="list-group-item-text">@String.Format("{0:0.#}", beer.AvgRating) out of 5</p>
                                <p class="list-group-item-text">@beer.Entries.Count() Log Entries</p>
                            </a>
                        }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Recent User Reviews -->
<div id="recent-reviews">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Recent Reviews</h1>
                <hr />
                <div class="list-group">
                    @foreach (var review in ViewBag.recent)
                    {
                        <a href="/Beer?id=@review.Beer.ReferenceID" class="list-group-item">
                            <!-- Rating -->
                            <div class="pull-right">
                                <div class="rating">
                                    @for (int x = 5; x >= 1; x--)
                                    {
                                        if (x <= review.Rating)
                                        {
                                            <input type="radio" id="@review.ID+@x" name="rating" value="@review.ID+@x" />
                                            <label class="checked" for="@review.ID+@x"></label>
                                        }
                                        else
                                        {
                                            <input type="radio" id="@review.ID+@x" name="rating" value="@review.ID+@x" />
                                            <label for="@review.ID+@x"></label>
                                        }
                                    }
                                </div>
                            </div>
                            <!-- Rating -->
                            <h4 class="list-group-item-heading">@review.Beer.Name</h4>
                            <p class="list-group-item-text">@review.Review</p>
                            <small class="list-group-item-text">Made by @review.ApplicationUser.UserName on @review.TimeStamp</small>
                        </a>
                    }
                </div>
            </div>
        </div>
        <!-- This is just a temporary solution for the home footer -->
        <br />
        <footer>
            <p class="pull-left" style="color:whitesmoke;">&copy; 2018 - Nico Montanino</p>
            <div class="pull-right">
                <ul class="list-inline">
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </footer>
        <br />
        <br />
    </div>
</div>
