@model IList<Entry>
@{
    ViewData["Title"] = "Log Entries";
}
<!-- Confirmation Modal -->
<div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="confirmDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="confirmDelete">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <b class="title"></b> from your log?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="deleteEntry">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
<div class="row">
    <!-- Coulmn One-->
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Displaying (@Model.Count) Entries</h4>
            </div>
            @if (Model.Count == 0)
            {   
                <div class="panel-body">
                    <p>There are no beers in your log yet.</p>
                </div>
            }
            else
            {
                <div class="panel-body">
                    @foreach (var entry in Model.Reverse())
                    {
                        <!-- Rating -->
                        <div class="pull-right">
                            <div class="rating">
                                @for (int x = 5; x >= 1; x--)
                                {
                                    if (x <= entry.Rating)
                                    {
                                        <input type="radio" id="@entry.ID+@x" name="rating" value="@entry.ID+@x" />
                                            <label class="checked" for="@entry.ID+@x"></label>
                                    }
                                    else
                                    {
                                        <input type="radio" id="@entry.ID+@x" name="rating" value="@entry.ID+@x" />
                                            <label for="@entry.ID+@x"></label>
                                    }
                                }
                            </div>
                        </div>
                        <!-- End Rating -->
                        <h4><a href="/Beer?id=@entry.Beer.ReferenceID">@entry.Beer.Name</a></h4>
                        <p><b>Rating: @entry.Rating out of 5 (Average Rating: @String.Format("{0:0.#}", entry.Beer.AvgRating) out of 5)</b></p>
                        @if (entry.Review != null)
                        {
                            <p>Review: @entry.Review</p>
                        }
                        @if (entry.UserComments != null)
                        {
                            <p>Comments: @entry.UserComments</p>
                        }
                        @if (entry.Location != null)
                        {
                            <p>Location: @entry.Location</p>
                        }
                        <h4><a asp-controller="Entry" asp-action="Edit" asp-route-entryID="@entry.ID" title="Edit Entry" class="pull-right"><span class="glyphicon glyphicon-edit"></span></a></h4>
                        <small>Added on: @entry.TimeStamp | <a href="#" data-record-id="@entry.ID" data-toggle="modal" data-target="#deleteConfirmation" data-record-title="@entry.Beer.Name" title="Delete Entry">Delete</a></small>
                        <hr />
                    }
                </div>
            }
        </div>
    </div>
    <!-- Column Two -->
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Your top rated beers</h4>
            </div>
            @if (Model.Count() == 0)
            {
                <div class="panel-body">
                    <p>You have not rated any beers.</p>
                </div>
            }
            <div class="list-group">
                @{ 
                    int i = 0;
                    if (Model.Count() >= 5)
                    {
                        i = 5;
                    }
                    else
                    {
                        i = Model.Count();

                    }
                }
                @foreach (var entry in Model.OrderByDescending(e => e.Rating).Take(i))
                {
                    <a href="/Beer?id=@entry.Beer.ReferenceID" class="list-group-item">
                        <span class="badge">@entry.Rating ★</span>
                        <h4 class="list-group-item-heading">@entry.Beer.Name</h4>
                    </a>
                }
            </div>
        </div>
        <p><a asp-controller="Home" asp-action="Index" role="button" class="btn btn-success">Add Another Beer</a></p>
    </div>
    <!-- End Column Two -->
</div>
<!-- End Row-->
