@model IList<Entry>

<h2 class="page-header">Entry Log</h2>

@if (Model.Count == 0)
{
    <h4>There are no beers in your log yet.</h4>
}
else
{

    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Rating</th>
            <th>Comments</th>
            <th>Location</th>
            <th>Timestamp</th>
        </tr>

    @foreach (var entry in Model)
    {
        <tr>
            <td>@entry.BeerID</td>
            <td>@entry.Rating</td>
            <td>@entry.UserComments</td>
            <td>@entry.Location</td>
            <td>@entry.TimeStamp</td>
        </tr>
    }
    </table>
}
