@model IList<Entry>
@{
    ViewData["Title"] = "Log Entries";
}
<br />
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Displaying (@Model.Count) Entries</h4>
    </div>
@if (Model.Count == 0)
{
    <h4>There are no beers in your log yet.</h4>
}
else
{
    <div class="list-group">
        @foreach (var entry in Model.Reverse())
        {
        <a href="/Beer?id=@entry.Beer.ReferenceID" class="list-group-item">
            <h4 class="list-group-item-heading">@entry.Beer.Name</h4>
            <h5><b>Rating: @entry.Rating out of 5 (Site Average: @String.Format("{0:0.#}", entry.Beer.AvgRating) out of 5)</b></h5>
            @if (entry.Review != null)
            {
                <p class="list-group-item-text">Review: @entry.Review</p>
            }
            @if (entry.UserComments != null)
            {
                <p class="list-group-item-text">Comments: @entry.UserComments</p>
            }
            @if (entry.Location != null)
            {
                <p class="list-group-item-text">Purchase Location: @entry.Location</p>
            }
            <h6 class="list-group-item-text">Added on: @entry.TimeStamp</h6>
        </a>
        }
    </div>
}
</div>
<p><a asp-controller="Home" asp-action="Index" role="button" class="btn btn-success">Add Another Beer</a></p>
