@model Beer
@{
    ViewData["Title"] = "Beer Information";
}
<br />
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        @if (Model.AvgRating > 0)
        {
            <h4 class="panel-title">Average User Rating: @String.Format("{0:0.#}", Model.AvgRating) out of 5</h4>
        }
        else
        {
            <h4 class="panel-title">This beer has not yet been rated.</h4>
        }
    </div>
    <div class="panel-body">
        <div class="media">
            <div class="media-body">
                <div class="media-heading top"></div>
            </div>
            <div class="media-right"></div>
        </div>
        <div class="info"></div>
    </div>
</div>

@if (Model.AvgRating > 0)
{
    <h4>(@Model.Entries.Count) User Reviews</h4>
    @foreach (var entry in Model.Entries)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Rating: @entry.Rating out of 5</h4>
            </div>
            <div class="panel-body">
                <!-- Rating -->
                <div class="pull-right">
                    <div class="rating">
                        @for (int x = 5; x >= 1; x--)
                        {
                            if (x <= entry.Rating)
                            {
                                <input type="radio" id="@entry.ID+@x" name="rating" value="@entry.ID+@x" />
                                <label class="checked" for="@entry.ID+@x" style="font-size: 125%;"></label>
                            }
                            else
                            {
                                <input type="radio" id="@entry.ID+@x" name="rating" value="@entry.ID+@x" />
                                <label for="@entry.ID+@x" style="font-size: 125%;"></label>
                            }
                        }
                    </div>
                </div>
                <!-- Rating -->
                <p>@entry.Review</p>
                <small>Made by @entry.ApplicationUser.UserName on @entry.TimeStamp</small>
            </div>
        </div>
    }
}
else
{
<div class="panel panel-default">
    <div class="panel-body">
        <h5>No Reviews Yet</h5>
        <p>Be the first to add a review for this beer.</p>
    </div>
</div>
}