@model Beer
<br />
<div class="panel panel-default">
    <div class="panel-body">
        <div class="top"></div>
        @if (Model.AvgRating > 0)
        {
            <hr />
            <h6>Average User Rating: @String.Format("{0:0.#}", Model.AvgRating) out of 5</h6>
        }
        else
        {
            <hr />
            <h6>This beer has not yet been rated.</h6>
        }
        <div class="info"></div>
    </div>
</div>

@if (Model.AvgRating > 0)
{
    <h5>(@Model.Entries.Count) User Reviews</h5>
    @foreach (var entry in Model.Entries)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <h6>@entry.Review</h6>
                <p>Rating: @entry.Rating out of 5</p>
                <small>Made by @entry.ApplicationUser.UserName on @entry.TimeStamp</small>
            </div>
        </div>
    }
}
else
{
<div class="panel panel-default">
    <div class="panel-body">
        <h5>No Reviews Yet</h5>
        <p>Be the first to add a review for this beer.</p>
    </div>
</div>
}

